body{
	background-color: #f3ece6;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    color: #202131;
}
.student-form{
	max-width: 680px;
	margin: auto;
	padding: 10px;
}

.student-form-group{
	margin: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-transition: background-color 200ms cubic-bezier(0.0,0.0,0.2,1);
    transition: background-color 200ms cubic-bezier(0.0,0.0,0.2,1);
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 10px;
    page-break-inside: avoid;
    word-wrap: break-word;
    word-wrap: break-word;
}
.image-form{
	margin: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.image-form img{
	width: 100%;
	border-radius: 10px;
}
.top-border{
	border-top: solid 12px #863e04;
}

.student-form-group h1{
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    color: #202124;
    line-height: 135%;
}
.student-form-group p{
	    white-space: pre-wrap;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;
    margin-top: 12px;
}
label{
	width: 100%;
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 24px;
    color: #202124;
    font-weight: 400;
    width: 100%;
    word-break: break-word;

    -webkit-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    min-width: 0%;
    position: relative;

}
input[type=text], input[type=email], input[type=radio], input[type=checkbox]{
	width: 90%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 10px;
	font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    color: #202124;

    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    background-color: transparent;
  
    height: 24px;
    line-height: 24px;
    outline: none;
    z-index: 0;
    unicode-bidi: -webkit-isolate;
}
span{
	color: red;
	font-size: 18px;
	padding-left: 5px;
}



input[type=radio]{
	width: auto;
    border: solid 2px;
    border-color: #5f6368;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    cursor: pointer;

}
input[type=checkbox]{
	
    border: solid 2px black;
    -webkit-border-radius: 50%;
}

.inline label, .inline input{
	display: inline;
	vertical-align: middle;

}

.student-form-group table{
	width: 100%;
	text-align: center;
	
}
.student-form-group table tr{
		margin:0px;
	margin-bottom: 10px;
	background-color:#f8f9fa;
}
.student-form-group table td{
	margin:0px;
	padding: 10px;

}
.student-form-group table td:first-child{
	
	text-align: left;

}

input[type=submit]{
	
    width: auto;
    border: none;
    margin: 0px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    height: none;
    background-color: #863e04;
    color: white;
    border-radius: 5px;
}
input:focus{
	border-bottom: 2px solid #863e04;
	transition: 1s ease all;
    background-color: none;
}
.error{
            display: none;
            color: red;
      }
.error p{
            color: red;
        }




